TreinoDieta/.gradle/7.3.3/executionHistory/executionHistory.bin
TreinoDieta/.gradle/7.3.3/executionHistory/executionHistory.lock
TreinoDieta/.gradle/7.3.3/fileHashes/fileHashes.bin
TreinoDieta/.gradle/7.3.3/fileHashes/fileHashes.lock
TreinoDieta/.gradle/7.3.3/fileHashes/resourceHashesCache.bin
TreinoDieta/.gradle/buildOutputCleanup/buildOutputCleanup.lock
TreinoDieta/.idea/deploymentTargetDropDown.xml
